$base-size: 4px;

$s1: $base-size * 1;
$s2: $base-size * 2;
$s3: $base-size * 3;
$s4: $base-size * 4;
$s5: $base-size * 5;
$s6: $base-size * 6;
$s7: $base-size * 7;
$s8: $base-size * 8;

$small-font-size: 3rem;
$small-contents-size: 4rem;

$font-size: 3.5rem;
$contents-size: 6rem;

$slider-internal-unit: 2rem;
