#top-message {
	background-color: $color-background;
}

.playlist-item {
	height: var(--playlist-item-size);
	line-height: $small-contents-size;
}

.playlist-item-row1, .playlist-item-row2, .playlist-item-row3, .playlist-item-s-row1, .playlist-item-s-row3 {
	overflow: hidden;
	text-overflow: ellipsis;
}

.playlist-item-row1, .playlist-item-row2, .playlist-item-row3 {
	position: absolute;
	left: $s1;
	right: 16rem;
	padding-right: $s1;
	margin-right: $s1;
}

.playlist-item-s-row1, .playlist-item-s-row3 {
	position: absolute;
	right: $s1;
	width: 16rem;
	text-align: right;
}

.playlist-item-row2, .playlist-item-row3, .playlist-item-s-row1, .playlist-item-s-row3 {
	color: $color-text-secodary;
}

.playlist-item-row1, .playlist-item-s-row1 {
	top: $s1;
}

.playlist-item-row2 {
	margin-top: $s1;
	top: $small-contents-size;
}

.playlist-item-row3, .playlist-item-s-row3 {
	margin-top: $s1;
	top: $small-contents-size + $small-contents-size;
}

.playlist-item-icon,
.playlist-item-icon > svg {
	width: $small-contents-size;
	height: $small-contents-size;
}

.playlist-item-icon {
	padding: 0;
}
/*
.playlist-item > span {
	color: $color-text-secodary;
}

.playlist-item > .length {
	margin-left: calc(#{$small-contents-size} + #{$s1});
}
*/

#seek-slider {
	width: 100%;
}

.seek-label {
	width: 16rem;
}

#volume-slider {
	width: 38rem;
}

#volume-label, .db-label {
	font-size: $small-font-size;
	width: 13rem;
}

.db-label.large {
	width: 15rem;
}

#panel-container {
	position: relative;
	width: 100%;
	height: calc(100% - var(--button-size));
	max-width: 2000px;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
}

#panel-container.web {
	margin-top: 0;
	height: 100%;
}

#fixed-panel {
	position: relative;
	display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
	flex: 1 1 auto;
	padding: $s2 0;
	min-width: 0; // https://css-tricks.com/flexbox-truncated-text/
}

#optional-panel {
	position: relative;
	margin: $s2 0 $s2 $s2;
	width: 512px;
	min-width: 512px;
	text-align: center;
	box-sizing: content-box;
}

#optional-panel-container {
	display: flex;
	min-height: 100%;
	flex-direction: column;
	justify-content: center;
}

#playlist-control {
	flex: 1 1 auto;
}

#title-label,
#artist-label,
#top-message {
	padding: $s1 0;
	line-height: $contents-size;
}

#title-label,
#artist-label {
	position: absolute;
	left: 0;
	width: 100%;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-user-select: text;
	user-select: text;
}

#title-label {
	top: $s1;
}

#artist-label {
	top: calc(#{$contents-size} + #{$s5});
}

#top-message {
	min-height: calc(#{$contents-size * 2} + #{$s8});
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.simple-filter {
	width: 512px;
	white-space: nowrap;
}

.simple-filter-freq {
	height: $font-size * 2;
}

.simple-filter-slider {
	height: 256px;
	font-size: $small-font-size;
	line-height: $small-font-size + 0.5rem;
}

#stereo-panner-slider {
	width: 38rem;
}
