@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

:root {
	--color-text-on-blue: #fff;
	--color-blue: #06f;
	--color-blue-hover: #17f;
	--color-blue-active: #28f;
	--color-blue-on-dark-50: #0e418e; /*rgba(0, 102, 255, 0.5);*/
	--color-blue-hover-on-dark-50: #164a8e; /*rgba(17, 121, 255, 0.5);*/
	--color-blue-active-on-dark-50: #1f538e; /*rgba(34, 136, 255, 0.5);*/

	--color-text-on-green: #000;
	--color-green: #4f4;
	--color-green-hover: #7f7;
	--color-green-active: #afa;

	--color-text-on-yellow: #000;
	--color-yellow: #fe4;
	--color-yellow-hover: #ff7;
	--color-yellow-active: #ffa;

	--color-text-on-orange: #000;
	--color-orange: #f90;
	--color-orange-hover: #fa1;
	--color-orange-active: #fb2;

	--color-text-on-red: #000;
	--color-red: #f44;
	--color-red-hover: #f55;
	--color-red-active: #f66;

	--color-text-on-pink: #000;
	--color-pink: #f4f;
	--color-pink-hover: #f5f;
	--color-pink-active: #f6f;

	--color-text-on-white: #000;
	--color-white: #fff;
	--color-white-hover: #fff;
	--color-white-active: #fff;

	--color-background: #1c1c1c;

	--color-highlight: #303030;
	--color-highlight-hover: #484848;
	--color-highlight-active: #5a5a5a;

	--color-close-hover: #c00;
	--color-close-active: #d11;

	--color-shadow-modal: #000;

	--color-fade: rgba(0, 0, 0, 0.5);

	--color-text: #fff;
	--color-text-secodary: #999;

	--color-border: var(--color-blue);
	--color-border-secondary: var(--color-orange);
}

* {
	box-sizing: border-box;
}

html,
.modal {
	background-color: var(--color-background);
}

html {
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: 100%;
	font-size: 4px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body, .modal, .btn, input, textarea, select, h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	line-height: 6rem;
}

body, .modal, input, textarea, select, h1, h2, h3, h4, h5, h6 {
	color: var(--color-text);
}

#fixed-panel, #optional-panel, .modal, .btn, input, textarea, select, h1, h2, h3, h4, h5, h6 {
	font-size: 3.5rem;
}

body {
	margin: 0;
	padding: 0 2rem;
	min-height: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-user-select: none;
	user-select: none;
}

.icon {
	display: inline-block;
	width: 6rem;
	height: 6rem;
	padding: var(--icon-padding);
	vertical-align: top;
}

.icon.large {
	padding: var(--large-icon-padding);
}

.icon > svg {
	display: inline-block;
	width: var(--icon-size);
	height: var(--icon-size);
	vertical-align: top;
	stroke-width: 0;
	stroke: transparent;
	fill: currentColor;
}

.icon.large > svg {
	width: var(--large-icon-size);
	height: var(--large-icon-size);
}

.menu-icon {
	width: auto;
	padding-left: 0;
}

h1 {
	position: relative;
	margin: 0 -2rem;
	padding: 2rem;
	height: 10rem;
	text-align: center;
}

h1,
.modal-header,
.slider-control-ruler,
.list-item {
	background-color: var(--color-highlight);
}

h1 > div {
	position: absolute;
	z-index: -1;
	-webkit-app-region: drag;
	left: 1rem;
	top: 1rem;
	right: 1rem;
	bottom: 0;
}

h1.maximized > div {
	left: 0;
	top: 0;
	right: 0;
}

h1 > span {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	padding: 0;
	text-align: center;
	-webkit-app-region: no-drag;
}

h1 > span > span {
	display: inline-block;
	width: 10rem;
	height: 10rem;
	padding: 2rem;
	text-align: center;
	cursor: pointer;
}

h1 > span > span:hover {
	background-color: var(--color-highlight-hover);
}

h1 > span > span:active,
.list-item:active {
	background-color: var(--color-highlight-active);
}

h1 > span > span.close:hover {
	background-color: var(--color-close-hover);
}

h1 > span > span.close:active {
	background-color: var(--color-close-active);
}

#icon-main {
	position: absolute;
	left: 1.8rem;
	top: 1.8rem;
	background-image: url('../images/favicons/favicon-96x96.png');
	background-size: 100% 100%;
	width: 6.4rem;
	height: 6.4rem;
	pointer-events: none;
}

#icon-loading {
	position: absolute;
	left: 10rem;
	top: 2rem;
	width: 6.4rem;
	height: 6.4rem;
	background-image: url('../images/loading.gif');
	background-size: 100% 100%;
	pointer-events: none;
}

#icon-loading.web {
	left: 2rem;
	width: 5rem;
	height: 5rem;
	z-index: 99998;
}

.btn, input, textarea, select, i, .slider-control, .toolbar-sep {
	vertical-align: top;
}

.btn, .btn > span, input, textarea, select, a, a:focus {
	margin: 0;
	border-radius: 0;
	border: 0 none transparent;
	box-shadow: none;
	outline: 0 none transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
	appearance: none;
	/*transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;*/
}

a {
	color: var(--color-orange);
	font-weight: 700;
	text-decoration: none;
}

a:focus,
a:hover {
	color: var(--color-orange-hover);
}

@media (hover: none) {
	a:hover {
		color: var(--color-orange);
	}
}

a:active {
	color: var(--color-orange-active);
}

.modal {
	display: block;
    outline: 0 none transparent;
    border: 0 none transparent;
	margin: 10rem auto;
	width: 156rem;
	max-width: 90%;
    box-shadow: 0 0.25rem 2rem var(--color-shadow-modal);
}

.modal-header, .modal-body {
	text-align: center;
}

.modal-header {
	padding: 2rem;
	font-weight: 700;
    border-bottom: var(--thin-border) solid var(--color-border-secondary);
}

.modal-body {
	padding: 8rem 2rem;
}

.modal-footer {
	padding: 2rem 0;
	margin: 0 2rem;
    border-top: var(--thin-border) solid var(--color-border);
}

.btn, .btn > span, .toolbar-sep {
	display: inline-block;
	height: var(--button-size);
}

.btn {
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	padding: 0;
}

select.btn {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAUCAAAAAA/s+ULAAAAAnRSTlMAAHaTzTgAAAA+SURBVHjarcyxDQAwCMAw//90UT9AItljb5l1tUftUXvUHrVH7VF71B61R+1Re9QetUftUXvUHrVH7X3xMA8B2qJs1mnhcwAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-size: 4rem 1rem;
    background-position: right center;
	text-align: left;
	padding-left: 2rem;
	padding-right: 6rem;
}

select.btn option {
	color: var(--color-text);
    background-color: var(--color-background);
}

.btn > span {
	padding: var(--button-padding-top) 2rem 0;
}

.btn > span > i {
	pointer-events: none;
}

.btn + .btn {
	margin-left: 2rem;
}

.btn.square, .btn.square > span {
	width: var(--button-size);
}

.btn.square > span {
	padding-left: 0;
	padding-right: 0;
}

input[type="checkbox"] {
	color: inherit;
	display: inline-block;
	vertical-align: top;
	width: 0;
	height: 0;
	pointer-events: none;
}

input[type="checkbox"] + .icon + .icon {
	display: none;
}

input[type="checkbox"]:checked + .icon {
	display: none;
}

input[type="checkbox"]:checked + .icon + .icon {
	display: inline-block;
}

.blue {
	color: var(--color-blue);
}

.green {
	color: var(--color-green);
}

.yellow {
	color: var(--color-yellow);
}

.orange {
	color: var(--color-orange);
}

.red {
	color: var(--color-red);
}

.pink {
	color: var(--color-pink);
}

.white {
	color: var(--color-white);
}

.btn,
.slider-control-thumb {
	color: var(--color-text-on-blue);
	background-color: var(--color-blue);
}

/* Adding this to the group above makes the entire group stop working in Firefox */
.scrollable::-webkit-scrollbar-thumb {
	background-color: var(--color-blue);
}

.btn.green {
	color: var(--color-text-on-green);
	background-color: var(--color-green);
}

.btn.yellow {
	color: var(--color-text-on-yellow);
	background-color: var(--color-yellow);
}

.btn.orange {
	color: var(--color-text-on-orange);
	background-color: var(--color-orange);
}

.btn.red {
	color: var(--color-text-on-red);
	background-color: var(--color-red);
}

.btn.pink {
	color: var(--color-text-on-pink);
	background-color: var(--color-pink);
}

.btn.white {
	color: var(--color-text-on-white);
	background-color: var(--color-white);
}

.btn.transparent {
	color: var(--color-text);
	background-color: transparent;
}

.btn:hover,
.btn:focus,
.slider-control-container:hover .slider-control-thumb {
	background-color: var(--color-blue-hover);
}

/* Adding this to the group above makes the entire group stop working in Firefox */
.scrollable::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-blue-hover);
}

/*
Although it would be way simpler to just add a (hover: hover) query adding
the hover effect to the elements, it would sacrifice many desktop browsers that
do not support this query... Therefore, I thought it would be better to do the
opposite, and disable the hover effect when it is not desirable...

https://drafts.csswg.org/mediaqueries-4/#hover
*/
@media (hover: none) {
	.btn:hover,
	.slider-control-container:hover .slider-control-thumb {
		background-color: var(--color-blue);
	}

	/* Adding this to the group above makes the entire group stop working in Firefox */
	.scrollable::-webkit-scrollbar-thumb:hover {
		background-color: var(--color-blue);
	}
}

.btn:active,
.slider-control-container.active:hover .slider-control-thumb,
.slider-control-container.active .slider-control-thumb {
	background-color: var(--color-blue-active);
}

/* Adding this to the group above makes the entire group stop working in Firefox */
.scrollable::-webkit-scrollbar-thumb:active {
	background-color: var(--color-blue-active);
}

.btn.green:focus,
.btn.green:hover {
	color: var(--color-text-on-green);
	background-color: var(--color-green-hover);
}

@media (hover: none) {
	.btn.green:hover {
		background-color: var(--color-green);
	}
}

.btn.green:active {
	color: var(--color-text-on-green);
	background-color: var(--color-green-active);
}

.btn.yellow:focus,
.btn.yellow:hover {
	color: var(--color-text-on-yellow);
	background-color: var(--color-yellow-hover);
}

@media (hover: none) {
	.btn.yellow:hover {
		background-color: var(--color-yellow);
	}
}

.btn.yellow:active {
	color: var(--color-text-on-yellow);
	background-color: var(--color-yellow-active);
}

.btn.orange:focus,
.btn.orange:hover {
	color: var(--color-text-on-orange);
	background-color: var(--color-orange-hover);
}

@media (hover: none) {
	.btn.orange:hover {
		background-color: var(--color-orange);
	}
}

.btn.orange:active {
	color: var(--color-text-on-orange);
	background-color: var(--color-orange-active);
}

.btn.red:focus,
.btn.red:hover {
	color: var(--color-text-on-red);
	background-color: var(--color-red-hover);
}

@media (hover: none) {
	.btn.red:hover {
		background-color: var(--color-red);
	}
}

.btn.red:active {
	color: var(--color-text-on-red);
	background-color: var(--color-red-active);
}

.btn.pink:focus,
.btn.pink:hover {
	color: var(--color-text-on-pink);
	background-color: var(--color-pink-hover);
}

@media (hover: none) {
	.btn.pink:hover {
		background-color: var(--color-pink);
	}
}

.btn.pink:active {
	color: var(--color-text-on-pink);
	background-color: var(--color-pink-active);
}

.btn.white:focus,
.btn.white:hover {
	color: var(--color-text-on-white);
	background-color: var(--color-white-hover);
}

@media (hover: none) {
	.btn.white:hover {
		background-color: var(--color-white);
	}
}

.btn.white:active {
	color: var(--color-text-on-white);
	background-color: var(--color-white-active);
}

.btn.transparent:hover > span > .icon,
.btn.transparent:focus > span > .icon,
.btn.transparent:active > span > .icon {
	color: inherit;
}

@media (hover: none) {
	.btn.transparent:hover:not(:active):not(:focus) {
		background-color: transparent;
	}

	.btn.transparent:hover:not(:active):not(:focus) > span > .icon.blue {
		color: var(--color-blue);
	}

	.btn.transparent.green:hover:not(:active):not(:focus),
	.btn.transparent:hover:not(:active):not(:focus) > span > .icon.green {
		color: var(--color-green);
	}

	.btn.transparent.yellow:hover:not(:active):not(:focus),
	.btn.transparent:hover:not(:active):not(:focus) > span > .icon.yellow {
		color: var(--color-yellow);
	}

	.btn.transparent.orange:hover:not(:active):not(:focus),
	.btn.transparent:hover:not(:active):not(:focus) > span > .icon.orange {
		color: var(--color-orange);
	}

	.btn.transparent.red:hover:not(:active):not(:focus),
	.btn.transparent:hover:not(:active):not(:focus) > span > .icon.red {
		color: var(--color-red);
	}

	.btn.transparent.pink:hover:not(:active):not(:focus),
	.btn.transparent:hover:not(:active):not(:focus) > span > .icon.pink {
		color: var(--color-pink);
	}

	.btn.transparent.white:hover:not(:active):not(:focus),
	.btn.transparent:hover:not(:active):not(:focus) > span > .icon.white {
		color: var(--color-white);
	}
}

.slider-control {
	display: inline-block;
	touch-action: none;
}

.slider-control:not(.vertical) {
	padding-top: var(--extra-touch-padding-top);
	height: var(--button-size);
}

.slider-control.vertical {
	width: var(--button-size);
}

.slider-control-focus-container {
	display: inline-flex;
    flex-wrap: nowrap;
	align-items: center;
	width: 100%;
	height: 100%;
}

.slider-control-focus-container:not(.vertical) {
	flex-direction: row;
	padding: 1rem 0;
}

.slider-control-focus-container.vertical {
	flex-direction: column-reverse;
	padding: 0 1rem;
}

.slider-control,
.slider-control:focus,
.slider-control-focus-container,
.slider-control-focus-container:focus {
	outline: 0 none transparent;
}

.slider-control-focus-container > span {
	display: inline-block;
}

.slider-control-container {
	display: inline-block;
	position: relative;
	flex: 1 1 auto;
}

.slider-control-container:not(.vertical) {
	height: 6rem;
	padding: 0 2rem 0 0;
}

.slider-control-container.vertical {
	width: 6rem;
	padding: 2rem 0 0 0;
}

.slider-control-inner-container {
	display: inline-block;
	position: relative;
	pointer-events: none;
}

.slider-control-inner-container:not(.vertical) {
	height: 6rem;
	width: 100%;
}

.slider-control-inner-container.vertical {
	width: 6rem;
	height: 100%;
}

.slider-control-filled-ruler,
.slider-control-ruler {
	display: block;
	position: absolute;
	z-index: -1;
}

.slider-control-filled-ruler:not(.vertical),
.slider-control-ruler:not(.vertical) {
	top: 2rem;
	height: 2rem;
}

.slider-control-filled-ruler.vertical,
.slider-control-ruler.vertical {
	left: 2rem;
	width: 2rem;
}

.slider-control-filled-ruler:not(.vertical) {
	left: 0;
}

.slider-control-filled-ruler.vertical {
	bottom: 0;
}

.slider-control-ruler:not(.vertical) {
	right: -2rem;
}

.slider-control-ruler.vertical {
	top: -2rem;
}

.slider-control-thumb {
	display: block;
	position: absolute;
	z-index: 1;
}

.slider-control-thumb:not(.vertical) {
	top: 0;
	height: 6rem;
	width: 2rem;
}

.slider-control-thumb.vertical {
	left: 0;
	width: 6rem;
	height: 2rem;
}

.slider-control-filled-ruler,
.list-item.current {
	background-color: var(--color-blue-on-dark-50);
}

.slider-control-container:hover .slider-control-filled-ruler {
	background-color: var(--color-blue-hover-on-dark-50);
}

@media (hover: none) {
	.slider-control-container:hover .slider-control-filled-ruler {
		background-color: var(--color-blue-on-dark-50);
	}
}

.slider-control-container.active:hover .slider-control-filled-ruler,
.slider-control-container.active .slider-control-filled-ruler,
.list-item.current:active {
	background-color: var(--color-blue-active-on-dark-50);
}

.list,
.list:focus {
	outline: 0 none transparent;
}

.list {
	width: 100%;
}

.scrollable {
	overflow: hidden auto;
	padding: 0 var(--thick-border) 0 0;
	scrollbar-color: var(--color-blue) var(--color-background);
}

.scrollable::-webkit-scrollbar {
	width: var(--scrollbar-size);
	height: var(--scrollbar-size);
}

.list-container {
	position: relative;
	width: 100%;
	padding: 0;
	font-size: 3rem;
	line-height: 4rem;
	overflow: hidden;
}

.list-item {
	padding: 1rem;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.list-item > .icon,
.list-item > span {
	pointer-events: none;
}

.list-item.virtual {
	position: absolute;
	left: 0;
	top: 0;
}

.list-item.real {
	position: relative;
	margin-bottom: var(--thick-border);
}

.playlist-item {
	height: 14rem;
}

.playlist-item > .icon,
.playlist-item > .icon > svg {
	width: 4rem;
	height: 4rem;
}

.playlist-item > .icon {
	padding: 0;
}

.playlist-item > span {
	color: var(--color-text-secodary);
}

.playlist-item > .length {
	margin-left: 5rem;
}

#seek-slider {
	width: 100%;
}

.seek-label {
	width: 16rem;
}

#volume-slider {
	width: 35rem;
}

.volume-label {
	font-size: 3rem;
	width: 13rem;
}

#panel-container {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 2000px;
	margin: 10rem auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
}

#panel-container.web {
	margin-top: 0;
}

#fixed-panel {
	position: relative;
	display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
	flex: 1 1 auto;
	padding: 2rem 0;
	min-width: 0; /* https://css-tricks.com/flexbox-truncated-text/ */
}

#optional-panel {
	position: relative;
	margin: 2rem 0 2rem 2rem;
	width: 512px;
	min-width: 512px;
	text-align: center;
	box-sizing: content-box;
}

#optional-panel-container {
	display: flex;
	min-height: 100%;
	flex-direction: column;
	justify-content: center;
}

#cover {
	position: absolute;
	z-index: 99999;
	left: 0;
	top: 0;
	width: 2px;
	height: 2px;
	background-color: var(--color-background);
	transform-origin: top left;
	transform: scale(2048, 1200);
}

.toolbar {
	position: relative;
	text-align: center;
}

.toolbar-sep {
	height: var(--button-size);
	border-left: var(--thin-border) solid var(--color-border);
	margin: 0 1rem;
}

.toolbar-left, .toolbar-right {
	position: absolute;
	top: 0;
}

.toolbar-left {
	left: 0;
}

.toolbar-right {
	right: 0;
}

#playlist-control {
	flex: 1 1 auto;
}

#title-label,
#artist-label {
	padding: 1rem 0;
	line-height: 6rem;
	height: 8rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-user-select: text;
	user-select: text;
}

.simple-filter {
	width: 512px;
	white-space: nowrap;
}

.simple-filter-freq {
	height: 7rem;
}

.simple-filter-slider {
	width: 10rem !important;
	height: 64rem;
	font-size: 3rem;
	line-height: 3.5rem;
}

#stereo-panner-slider {
	width: 35rem;
}

.border-top {
	margin-top: 2rem;
	padding-top: 2rem;
	border-top: var(--thin-border) solid var(--color-border);
}

.toolbar.border-top > .toolbar-left,
.toolbar.border-top > .toolbar-right {
	top: 2rem;
}

.border-bottom {
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: var(--thin-border) solid var(--color-border);
}

.small-left-margin {
	margin-left: 1rem;
}

.left-margin {
	margin-left: 2rem;
}

.large-left-margin {
	margin-left: 4rem;
}

.small-top-margin {
	margin-top: 1rem;
}

.top-margin {
	margin-top: 2rem;
}

.large-top-margin {
	margin-top: 4rem;
}

.small-right-margin,
.icon.margin {
	margin-right: 1rem;
}

.right-margin {
	margin-right: 2rem;
}

.large-right-margin {
	margin-right: 4rem;
}

.small-bottom-margin {
	margin-bottom: 1rem;
}

.bottom-margin {
	margin-bottom: 2rem;
}

.large-bottom-margin {
	margin-bottom: 4rem;
}

@media (max-width: 511px) {
	.btn + .btn {
		margin-left: 1rem;
	}

	#fixed-panel {
		padding: 1rem 0 2rem;
	}

	.border-top {
		margin-top: 1rem;
		padding-top: 1rem;
	}

	.toolbar.border-top > .toolbar-left,
	.toolbar.border-top > .toolbar-right {
		top: 1rem;
	}
	
	.border-bottom {
		margin-bottom: 1rem;
		padding-bottom: 1rem;
	}

	.left-margin {
		margin-left: 1rem;
	}

	.large-left-margin {
		margin-left: 2rem;
	}

	.top-margin {
		margin-top: 1rem;
	}

	.large-top-margin {
		margin-top: 2rem;
	}

	.right-margin {
		margin-right: 1rem;
	}

	.large-right-margin {
		margin-right: 2rem;
	}

	.bottom-margin {
		margin-bottom: 1rem;
	}

	.large-bottom-margin {
		margin-bottom: 2rem;
	}
}

@media (max-width: 400px) {
	#button-stop {
		display: none;
	}
}

@media (max-width: 339px) {
	#volume-slider {
		width: 21rem;
	}

	.slider-control-focus-container > .volume-label {
		display: none;
	}
}

@media (max-height: 450px) {
	#artist-label {
		display: none;
	}
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.fade {
	opacity: 0;
	transition: opacity ease-in-out 0.3s;
}

.fade.in {
	opacity: 1;
}

.slide {
	transform: translate(0, -5rem);
	opacity: 0;
	transition: transform ease-in-out 0.3s, opacity ease-in-out 0.3s;
}

.slide.in {
	transform: none;
	opacity: 1;
}

.modal-container {
	position: fixed;
	z-index: 10000;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

.modal-container.background {
    background-color: transparent;
	transition: opacity ease-in-out 0.3s, background-color ease-in-out 0.3s;
}

.modal-container.background.in {
    background-color: var(--color-fade);
}

.hidden {
	display: none;
}

@media (min-width: 876px) {
	.hidden-normal {
		display: none;
	}
}

@media (max-width: 875px) {
	#optional-panel {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		min-width: 0;
		overflow: auto;
	}

	#panel-container:not(.toggled) > #optional-panel {
		display: none;
	}

	#panel-container.toggled > #fixed-panel {
		display: none;
	}

	.simple-filter {
		width: auto;
	}
}
